zoolocator/Node-Red/JSON-ZOOLOCATOR.txt
[
    {
        "id": "ce98bbe19a02a1a9",
        "type": "mqtt in",
        "z": "702f73014b1f7cd6",
        "name": "Mqtt-SENSORES",
        "topic": "sensores",
        "qos": "2",
        "datatype": "auto",
        "broker": "7e4d1f81.5a5e4c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "86b9a76ba85c6647",
                "9f1b57ff66d8bf1b"
            ]
        ]
    },
    {
        "id": "86b9a76ba85c6647",
        "type": "debug",
        "z": "702f73014b1f7cd6",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 240,
        "wires": []
    },
    {
        "id": "9ca3c3cadd440797",
        "type": "mqtt in",
        "z": "702f73014b1f7cd6",
        "name": "Mqtt-SENSORES",
        "topic": "LoRa_D5/GPS_Animal",
        "qos": "2",
        "datatype": "auto",
        "broker": "27c2bad10d0a5625",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fa1f31e129f8700c",
        "type": "ui_gauge",
        "z": "702f73014b1f7cd6",
        "name": "",
        "group": "b3e1a8c.30e5b9",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#13b1b4",
            "#1be600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "2f845db66282a70c",
        "type": "influxdb out",
        "z": "702f73014b1f7cd6",
        "influxdb": "9535a934.ae8a1",
        "name": "Temperatura",
        "measurement": "Temperatura_°c",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Test-LoRa",
        "bucket": "Sensor_Ganado",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "7fbfe8a7c0f818b3",
        "type": "ui_gauge",
        "z": "702f73014b1f7cd6",
        "name": "Humedad",
        "group": "b3e1a8c.30e5b9",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "23579de5afb564ed",
        "type": "function",
        "z": "702f73014b1f7cd6",
        "name": "function 1",
        "func": "let temperatura = parseFloat(msg.payload.Temperatura);\nlet humedad = parseFloat(msg.payload.Humedad);\nlet distancia = parseFloat(msg.payload.Distancia);\nlet latitud = parseFloat(msg.payload.Latitud);\nlet longitud = parseFloat(msg.payload.Longitud);\n\nif (isNaN(temperatura) || isNaN(humedad) || isNaN(distancia) || isNaN(latitud) || isNaN(longitud)) {\n    node.error(\"One or more values are not valid numbers\");\n    return null;\n}\n\n\nlet msg1 = { payload: temperatura };\nlet msg2 = { payload:  humedad};\nlet msg3 = { payload: distancia };\nlet msg4 = { payload: latitud };\nlet msg5 = { payload: longitud };\nreturn [msg1, msg2, msg3, msg4, msg5];\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "fa1f31e129f8700c",
                "f0a692607cb4203f",
                "2f845db66282a70c"
            ],
            [
                "7fbfe8a7c0f818b3",
                "9496422351c8975f",
                "e10b3625e77fe870"
            ],
            [
                "1d3ee88b0503e712",
                "dfdca2fdf1b25361",
                "6f2b8f7aa2557fb7"
            ],
            [
                "80df919338732628",
                "97d5881ef0c6ec6c"
            ],
            [
                "141564d8c6a6fb40",
                "e716c172c6a6f5bb"
            ]
        ]
    },
    {
        "id": "f0a692607cb4203f",
        "type": "debug",
        "z": "702f73014b1f7cd6",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "9496422351c8975f",
        "type": "influxdb out",
        "z": "702f73014b1f7cd6",
        "influxdb": "9535a934.ae8a1",
        "name": "Humedad",
        "measurement": "Humedad",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Test-LoRa",
        "bucket": "Sensor_Ganado",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "1d3ee88b0503e712",
        "type": "ui_gauge",
        "z": "702f73014b1f7cd6",
        "name": "",
        "group": "b3e1a8c.30e5b9",
        "order": 5,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Distancia",
        "label": "M",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#13b1b4",
            "#1be600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "dfdca2fdf1b25361",
        "type": "influxdb out",
        "z": "702f73014b1f7cd6",
        "influxdb": "9535a934.ae8a1",
        "name": "Distancia",
        "measurement": "Distancia",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Test-LoRa",
        "bucket": "Sensor_Ganado",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "9f1b57ff66d8bf1b",
        "type": "json",
        "z": "702f73014b1f7cd6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "23579de5afb564ed"
            ]
        ]
    },
    {
        "id": "e10b3625e77fe870",
        "type": "debug",
        "z": "702f73014b1f7cd6",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f2b8f7aa2557fb7",
        "type": "debug",
        "z": "702f73014b1f7cd6",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "80df919338732628",
        "type": "influxdb out",
        "z": "702f73014b1f7cd6",
        "influxdb": "9535a934.ae8a1",
        "name": "GPS-latitud",
        "measurement": "GPS_latitud",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Test-LoRa",
        "bucket": "Sensor_Ganado",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "d660d1dde3fec590",
        "type": "worldmap",
        "z": "702f73014b1f7cd6",
        "name": "",
        "lat": "20.234376144674364",
        "lon": "-99.20543910519277",
        "zoom": "18",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "hiderightclick": "false",
        "coords": "none",
        "path": "",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "e1264d399f0631d7",
        "type": "function",
        "z": "702f73014b1f7cd6",
        "name": "",
        "func": "// create random position\nvar lat = 20.234376144674364;\nvar lon = -99.20543910519277;\nmsg.payload = {\n    lat: lat,\n    lon: lon,\n    name: \"Ganado\",\n    icon: \"male\",\n    color: \"#000\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "d660d1dde3fec590",
                "26ead1d2867f80dd"
            ]
        ]
    },
    {
        "id": "8b8d1893a3d742c9",
        "type": "ui_button",
        "z": "702f73014b1f7cd6",
        "name": "",
        "group": "b3e1a8c.30e5b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ganado en movimiento",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-male",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "e1264d399f0631d7"
            ]
        ]
    },
    {
        "id": "26ead1d2867f80dd",
        "type": "worldmap-tracks",
        "z": "702f73014b1f7cd6",
        "name": "",
        "depth": "5",
        "layer": "combined",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "d660d1dde3fec590"
            ]
        ]
    },
    {
        "id": "71404ca2618e0d1c",
        "type": "ui_template",
        "z": "702f73014b1f7cd6",
        "group": "b3e1a8c.30e5b9",
        "name": "",
        "order": 2,
        "width": 18,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "87f363b4b5ecf5ad",
        "type": "template",
        "z": "702f73014b1f7cd6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" width=\"800px\" height=\"600px\"></iframe>\n",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "71404ca2618e0d1c"
            ]
        ]
    },
    {
        "id": "67bd9929a6308386",
        "type": "inject",
        "z": "702f73014b1f7cd6",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "87f363b4b5ecf5ad"
            ]
        ]
    },
    {
        "id": "141564d8c6a6fb40",
        "type": "influxdb out",
        "z": "702f73014b1f7cd6",
        "influxdb": "9535a934.ae8a1",
        "name": "GPS-longitud",
        "measurement": "GPS_longitud",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Test-LoRa",
        "bucket": "Sensor_Ganado",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "97d5881ef0c6ec6c",
        "type": "debug",
        "z": "702f73014b1f7cd6",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 700,
        "wires": []
    },
    {
        "id": "e716c172c6a6f5bb",
        "type": "debug",
        "z": "702f73014b1f7cd6",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 740,
        "wires": []
    },
    {
        "id": "7e4d1f81.5a5e4c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "27c2bad10d0a5625",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "192.168.2.104",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b3e1a8c.30e5b9",
        "type": "ui_group",
        "name": "INFORMACION",
        "tab": "f5e6e5a9.472a18",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9535a934.ae8a1",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "sensor_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "f5e6e5a9.472a18",
        "type": "ui_tab",
        "name": "ZOOLOCATOR",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]